<?xml version="1.0" encoding="UTF-8"?>

<robot name="kassow_kord" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:arg name="prefix" default=""/>
    <xacro:arg name="hand_type" default="none"/>
    <xacro:arg name="hand_srdf_file" default=""/>

    <xacro:include filename="$(find kassow_kord_bringup)/srdf/kassow_kord_macro.srdf.xacro"/>

    <xacro:kassow_kord_srdf
      prefix="$(arg prefix)"
      hand_type="$(arg hand_type)"
      hand_srdf_file="$(arg hand_srdf_file)"
    />

</robot>
